<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>

  <appSettings>
    <add key="providerName" value="System.Data.SqlClient"/>
    
    <add key="connectionString" value="Data Source=DESKTOP-CB8JJO3;Initial Catalog=InOutDB;Integrated Security=True;Pooling=False"/>
  </appSettings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>